// Breakpoints
$xxlarge: 1200px;
$xlarge: 960px;
$large: 1024px;
$medium: 660px;
$small: 770px;

// Colors
$comcast-red: #c8001d;	// Comcast red
$comcast-blue: #0066cc; // Comcast blue
$comcast-blue--light: #00a3e0;

$white: #fff;			// White
$offwhite: #f7f7f7;		// Faintest gray
$lightgray: #dadada;	// Light gray
$medgray: #666;			// Medium gray
$slateGray: #282828;    // Slate gray
$darkGray: #363636;     // Dark gray
$blueGray: #b6b7ba;     // Blueish gray
$black: #000;           // Black
$neonYellow: #FFFC23;   // Neon yellow

$txtlight: $medgray;	// Medium gray
$txtblack: $darkGray;	// Dark gray

$link: $comcast-blue;
$brightBlue: #0066cc;

// Module Heights
$section-desktop-height: 1024px;
$section-mobile-height: 480px;


